<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Animais</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2>Cadastro de Animais</h2>
    <hr>
    <form action="{{url_for('cadanimals')}}", method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        <label for="ano">Ano:</label>
        <input type="text" name="ano" required>
        <label for="raça">Raça:</label>
        <input type="text" name="raça" required>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <hr>
    <h4>Animais cadastrados</h4>
    {% for animal in animallist %}
    Nome: <strong>{{animal.nome}}</strong><br>
    Ano: <strong>{{animal.ano}}</strong><br>
    Raça: <strong>{{animal.raça}}</strong><br><br>
    {% endfor %}
    {% endblock content %}
       
</body>
</html>